<%- include('header') -%>
<nav>
    <ul>
        <li><a href="pacientesF">Formulario Pacientes</a></li>
        <li><a href="doctorsF">Formulario Doctores</a></li>
        <li><a href="citaF">Formulario Citas</a></li>
    </ul>
</nav>
<%- include('footer') -%>

